
  <div class="persona-characteristics">
 
    <h1 style="margin-top:0px;color:#F3F4F8">Participation Characteristics</h2>
    <br/>
    <div class="row row-persona">
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-book fa-5x fa-persona"></i>
          <p>Learner</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-fire fa-5x fa-persona"></i>
          <p>Emerging Leader</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-flag fa-5x fa-persona"></i>
          <p>Team Member</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-life-bouy fa-5x fa-persona"></i>
          <p>Needs validation</p>
      </div>
   </div>
 </div>
<div class="persona-risk">
 <hr>
  <br/>
  <div class="row row-persona">
    <div class="col-xs-12 col-md-2 col-md-offset-1" >
       <h2  style="text-align:left">Opportunity for Cora</h2>
        <ul class="list-unstyled persona-list">
            <li>Informal leadership roles</li>
            <li>Education & training</li>
            <li>Deeper skill development</li>
            <li>Trust of peers</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
         <h2 >Opportunity for Project</h2>
         <ul class="list-unstyled persona-list">
            <li>Quality contributions</li>
            <li>Community-based leadership</li>
            <li>Evanglist for new contributors</li>
            <li>Potential core contributor</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
      <h2>Risks to Participation</h2>
      <ul class="list-unstyled persona-list">
            <li>Lack of Recognition (appreciation and validation)</li>
            <li>Toxic community behavior</li>
            <li>Repeated broken promises / missing follow-up</li>
        </ul>
    </div>
     <div class="col-xs-12 col-md-2 col-md-offset-1"> <h2 >Risks to Project</h2>
      <ul class="list-unstyled persona-list">
          <li>Resources needed to continue engagement (staff & material)</li>
          <li>Rogue priorities can distract community focus</li>
        </ul>
    </div>
  </div>
