
  <div class="persona-characteristics">
 
    <h1 style="margin-top:0px;color:#F3F4F8">Participation Characteristics</h2>
    <br/>
    <div class="row row-persona">
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-group fa-5x fa-persona"></i>
          <p>Leader</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-flag-o fa-5x fa-persona"></i>
          <p>Influencer</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-bullhorn fa-5x fa-persona"></i>
          <p>Mobilizer</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-ambulance fa-5x fa-persona"></i>
          <p>Burn Out Risk</p>
      </div>
   </div>
 </div>
<div class="persona-risk">
 <hr>
  <br/>
  <div class="row row-persona">
    <div class="col-xs-12 col-md-2 col-md-offset-1" >
       <h2  style="text-align:left">Opportunity for Daphne</h2>
        <ul class="list-unstyled persona-list">
           <li>Advanced leadership training opportunities</li>
           <li>Mentorship from project leads</li>
           <li>Ability to influence and direct change</li>
           <li>Respect and sense of ownership</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
         <h2 >Opportunity for Project</h2>
         <ul class="list-unstyled persona-list">
            <li>Community leadership</li>
            <li>Meaningful and important feedback</li>
            <li>Quality contribution</li>
            <li>Time-sensitive contribution</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
      <h2>Risks to Participation</h2>
      <ul class="list-unstyled persona-list">
        <li>Burn-out</li>
        <li>Thankless or dismissive leadership</li>
        <li>Toxic communities</li>
        <li>Boredom</li>
        </ul>
    </div>
     <div class="col-xs-12 col-md-2 col-md-offset-1"> <h2 >Risks to Project</h2>
      <ul class="list-unstyled persona-list">
          <li>Can negatively influence community</li>
          <li>Resistant to change</li>
          <li>Potential high-risk for stepping away due to burn out</li>
        </ul>
    </div>
  </div>