
  <div class="persona-characteristics">
 
    <h1 style="margin-top:0px;color:#F3F4F8">Participation Characteristics</h2>
    <br/>
    <div class="row row-persona">
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-group fa-5x fa-persona"></i>
          <p>Leader</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-rocket fa-5x fa-persona"></i>
          <p>Empowerer</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-paint-brush fa-5x fa-persona"></i>
          <p>Participation Designer</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-gavel fa-5x fa-persona"></i>
          <p>Challenger</p>
      </div>
   </div>
 </div>
<div class="persona-risk">
 <hr>
  <br/>
  <div class="row row-persona">
    <div class="col-xs-12 col-md-2 col-md-offset-1" >
       <h2  style="text-align:left">Opportunity for Stanley</h2>
        <ul class="list-unstyled persona-list">
           <li>Experimentation</li>
           <li>Leadership development</li>
           <li>Creative problem solving</li> 
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
         <h2 >Opportunity for Project</h2>
         <ul class="list-unstyled persona-list">
          <li>Community leadership</li>
           <li>Authentic voice of community</li>
           <li>Quality contributions</li>
           <li>Quality feedback</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
      <h2>Risks to Participation</h2>
      <ul class="list-unstyled persona-list">
           <li>Burn-out</li>
           <li>Lack of recognition or gratitude from project and people</li>
           <li>Becomes too much like 'work'</li>
        </ul>
    </div>
     <div class="col-xs-12 col-md-2 col-md-offset-1"> <h2 >Risks to Project</h2>
      <ul class="list-unstyled persona-list">
          <li>Leads by a unique vision which may or may not always help project</li>
           <li>Uncertainty of how to improve the next-steps for such an advanced contributor</li>
        </ul>
    </div>
  </div>
