
  <div class="persona-characteristics">
 
    <h1 style="margin-top:0px;color:#F3F4F8">Participation Characteristics</h2>
    <br/>
    <div class="row row-persona">
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-book fa-5x fa-persona"></i>
          <p>Learner</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-users fa-5x fa-persona"></i>
          <p>Networker</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-clock-o fa-5x fa-persona"></i>
          <p>Dedicates time to discover</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-bicycle fa-5x fa-persona"></i>
          <p>Project Traveler</p>
      </div>
   </div>
 </div>
<div class="persona-risk">
 <hr>
  <br/>
  <div class="row row-persona">
    <div class="col-xs-12 col-md-2 col-md-offset-1" >
       <h2  style="text-align:left">Opportunity for Ned</h2>
        <ul class="list-unstyled persona-list">
            <li>Professional networking</li>
            <li>Resume building</li>
            <li>Opportunity to problem-solve and innovate</li>
            <li>Education & training</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
         <h2 >Opportunity for Project</h2>
         <ul class="list-unstyled persona-list">
            <li>Potential for regular contribution</li>
            <li>Might encourage others to contribute</li>
            <li>Fresh perspective and ideas</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
      <h2>Risks to Participation</h2>
      <ul class="list-unstyled persona-list">
          <li>Missing pathways (is this it?)</li>
          <li>Financial burden of donated time</li>
          <li>Impostor syndrome</li>
          <li>Silent channels</li>
        </ul>
    </div>
     <div class="col-xs-12 col-md-2 col-md-offset-1"> <h2 >Risks to Project</h2>
      <ul class="list-unstyled persona-list">
          <li>Contributor vanishes</li>
          <li>Unrealistic expectations</li>
          <li>Over-commitment</li>
          <li>Poor work</li>
        </ul>
    </div>
  </div>