
  <div class="persona-characteristics">
 
    <h1 style="margin-top:0px;color:#F3F4F8">Participation Characteristics</h2>
    <br/>
    <div class="row row-persona">
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-book fa-5x fa-persona"></i>
          <p>Learner</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-smile-o fa-5x fa-persona"></i>
          <p>Force of Positivity</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-trophy fa-5x fa-persona"></i>
          <p>Goal Oriented</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-user-secret fa-5x fa-persona"></i>
          <p>Imposter's Syndrome</p>
      </div>
   </div>
 </div>
<div class="persona-risk">
 <hr>
  <br/>
  <div class="row row-persona">
    <div class="col-xs-12 col-md-2 col-md-offset-1" >
       <h2  style="text-align:left">Opportunity for Sangeeta</h2>
        <ul class="list-unstyled persona-list">
            <li>Education & training</li>
            <li>Empowerment</li>
            <li>Real impact on things she cares about</li>
            <li>Friendship & camaraderie</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
         <h2 >Opportunity for Project</h2>
         <ul class="list-unstyled persona-list">
            <li>Proven value</li>
            <li>New & positive energy</li>
            <li>Small-scale, regular contributions</li>
            <li>Helper of newbies</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
      <h2>Risks to Participation</h2>
      <ul class="list-unstyled persona-list">
          <li>Dismissive or abusive community behavior</li>
          <li>Glass Ceiling (no clear pathway)</li>
          <li>Lack-of, or poor mentorship</li>
          <li>Static opportunity (boredom with what's available)</li>
        </ul>
    </div>
     <div class="col-xs-12 col-md-2 col-md-offset-1"> <h2 >Risks to Project</h2>
      <ul class="list-unstyled persona-list">
          <li>Resources needed to continue engagement (staff & material)</li>
        </ul>
    </div>
  </div>