
  <div class="persona-characteristics">
 
    <h1 style="margin-top:0px;color:#F3F4F8">Participation Characteristics</h2>
    <br/>
    <div class="row row-persona">
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-flask fa-5x fa-persona"></i>
          <p>Experimenting</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-child fa-5x fa-persona"></i>
          <p>Enthusiastic</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-cogs fa-5x fa-persona"></i>
          <p>Tinkerer</p>
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1 col-persona" >
           <i class="fa fa-bomb fa-5x fa-persona"></i>
          <p>Impatient</p>
      </div>
   </div>
 </div>
<div class="persona-risk">
 <hr>
  <br/>
  <div class="row row-persona">
    <div class="col-xs-12 col-md-2 col-md-offset-1" >
       <h2  style="text-align:left">Opportunity for Stanley</h2>
        <ul class="list-unstyled persona-list">
            <li>Relevant Skill-Building</li>
            <li>Mentorship</li>
            <li>Friendship</li>
            <li>Responsibility</li>
            <li>Real-world experience</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
         <h2 >Opportunity for Project</h2>
         <ul class="list-unstyled persona-list">
            <li>Enthusiasm to try new things </li>
            <li>Flexible and open to direction</li>
            <li>Tends to donate large chunks of time</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-2 col-md-offset-1">
      <h2>Risks to Participation</h2>
      <ul class="list-unstyled persona-list">
          <li>Confusing or missing documentation</li>
          <li>Lack of appropriate mentors</li>
          <li>Slow or no feedback/response</li>
        </ul>
    </div>
     <div class="col-xs-12 col-md-2 col-md-offset-1"> <h2 >Risks to Project</h2>
      <ul class="list-unstyled persona-list">
          <li>Sporadic or unreliable availability</li>
          <li>Unrealistic expectations</li>
          <li>Low or no sense of responsibility</li>
        </ul>
    </div>
  </div>