
<section class="">
  <div class="containers">
  
    <ul class="list-inline">
      {% for user in site.data.course.personas %}
        <li class="col-md-1-persona persona">
          <img
              class="img-circle-persona"
              src="{{ user.image }}"
              alt="{{ user.name }}"> 
          <div class="persona">
             {% if user.url == "lurkinglucinda" %}
              <span class="persona_name"> 
                <a href="{{ site.data.baseurl }}/personas/{{user.url}}.html"> {{user.name}}</a> 
              </span> 
              {%else%}
                <span class="persona_name"> {{user.name}} </span>
              {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<div style="float:left">
  
  Photos by {% for cc in site.data.course.personas %}
   <a href="{{ cc.imagecc }}">{{ cc.ccname }} </a>, 
  {% endfor %}
  available under a Creative Commons Attribution license.

</div>