<div class="col-xs-12 col-md-2 col-md-offset-1" >
   <h1  style="text-align:left">Opportunity for Lucinda</h2>
    <ul class="list-unstyled persona-list">
        <li>Skill-building</li>
        <li>Mentorship</li>
        <li>Friendship</li>
        <li>Resume building</li>
        <li>Sense of purpose</li>
    </ul>
</div>
<div class="col-xs-12 col-md-2 col-md-offset-1">
     <h1 >Opportunity for Project</h2>
     <ul class="list-unstyled persona-list">
        <li>New perspective</li>
        <li>Fresh ideas  </li>
        <li>Diversity</li>
    </ul>
</div>
<div class="col-xs-12 col-md-2 col-md-offset-1">
  <h1>Risks to Participation</h2>
  <ul class="list-unstyled persona-list">
      <li>Unfriendly, silent or hostile channels</li>
      <li>Skill/interest mismatch</li>
      <li>No mentors</li>
      <li>frustration</li>
    </ul>
</div>
 <div class="col-xs-12 col-md-2 col-md-offset-1"> <h1 >Risks to Project</h2>
  <ul class="list-unstyled persona-list">
      <li>Time constraints for mentoring</li>
      <li>Unrealistic expectations</li>
      <li>Investing in an ( as of yet ) unreliable resource</li>
    </ul>
</div>